/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Poppins:wght@400;500;600&display=swap');
:root {
    --header-height: 3rem;

    /*colors*/
    /*change fave colours*/

    --hue-color: 323; /*sage green - 114*/

    /*hsl color mode stands for hue saturation and lightness*/

    --first-color: hsl(var(--hue-color), 95%, 76%); /*hsl(307, 81%, 79%)*/
    --first-color-second: hsl(var(--hue-color), 95%, 76%);
    --first-color-alt: hsl(var(--hue-color), 79%, 68%);
    --first-color-lighter: hsl(var(--hue-color), 98%, 85%);
    --title-color: hsl(var(--hue-color), 6%, 9%);
    --text-color: hsl(var(--hue-color), 6%, 45%);
    --text-color-light: hsl(var(--hue-color), 6%, 65%);
    --input-color: hsl(var(--hue-color), 96%, 95%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #FFF;

    /*font and typography*/
    /* --body-font: 'Poppins', sans-serif; */

    /*.2rem = 3.2px, .5rem = 8px, 1rem = 16px, 1.5rem = 24px*/

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*font weight*/

    --font-medium: 500;
    --font-semi-bold: 600;

    /*margins bottom*/
    /*.25rem = 4px, .5rem = 8px, .75rem = 12px, 1rem = 16px*/

    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*z index*/

    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /*font size for larger devices*/ 
}
@media screen and (min-width:968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}
/*var dark mode*/

/*button dark/light*/

/*base*/
*{
    box-sizing: border-box;
    border: 7px red;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'newyork';
    src: url('/main/newyork/NewYork.woff2') format('woff2'), /* Modern Browsers */
         url('/main/newyork/NewYork.woff') format('woff'); /* Older Browsers */
    font-weight: 400px;
    font-style: normal;
    /* font-size: 10%; */
}

body {
    font-family: 'newyork', sans-serif;
}


body{
    /* border: 2px solid black; */
    margin: 0 0 var(--header-height) 0;
    /* font-family: var(--body-font); */
    color: #000000;
    text-align: center;
    background-image: linear-gradient(to right top, #ff84ca, #f8a0e0, #f3b9f0, #f0d0fa, #f2e5ff, #f3e8ff, #f4eaff, #f5edff, #f3deff, #f4cefb, #f9bdf5, #ffaaea);

}
    /* h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
} */

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
} 


/*reusable css classes*/
.section{
    padding: 2rem 0 4rem;
}

.section__title{
    font-size: var(--h1-font-size);
}

.section__subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3); 
}

.section__subtitle, .section__title{
    text-align: center;
}

/*layout*/
.container{
    /* max-width: 768px; */
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%; 
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

.services__container{
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
}

.services__content{
   
    /* border-right: 1px solid #000000; */
    /* padding: 20px; */
    position: relative;
    background-image: radial-gradient(circle, #ff84ca, #f8a0e0, #f3b9f0, #f0d0fa, #f2e5ff, #f3e8ff, #f4eaff, #f5edff, #f3deff, #f4cefb, #f9bdf5, #ffaaea);    
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    transition: .3s;
    width: 330px;
    height: 300px; /* Set width to 50% of the viewport width */
    display: grid;
    grid-template-columns: auto auto;
}

.star {
    width: 15px;
    position: absolute; 
    top: 0; /* Align the image to the top */
    right: 0; /* Align the image to the right */
    /* transform: translate(-50%, 2880%); */
  }

.star1 {
    width: 15px;
    position: absolute; 
    bottom: 0; /* Align the image to the top */
    right: 0
}

.star2 {
    width: 15px;
    position: absolute; 
    bottom: 0; /* Align the image to the top */
    left: 0
}

.star3 {
    width: 15px;
    position: absolute; 
    top: 0; /* Align the image to the top */
    left: 0;
}
  
.floating_border{
    /* left: 0; */
    width: 290px;
    height: 260px;
    margin: 20px;
    /* top: 50%; */
    position: absolute;
    border: 1px solid #000000;
    /* border-bottom: 2px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000; */

}

.services__content1{
    position: relative;
    background-image: linear-gradient(to right, #f7dae8, #f9d7e7, #fad4e6, #fcd0e5, #fdcde4, #fecae3, #fec6e1, #ffc3e0, #ffc0de, #ffbcdd, #ffb9db, #ffb5d9);
    
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    transition: .3s;
    width: 330px;
    height: 300px; /* Set width to 50% of the viewport width */
}

.services__content2{
    position: relative;
    background-image: linear-gradient(to right bottom, #f7dae8, #f9d7e7, #fad4e6, #fcd0e5, #fdcde4, #fecae3, #fec6e1, #ffc3e0, #ffc0de, #ffbcdd, #ffb9db, #ffb5d9);    
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    transition: .3s;
    width: 330px;
    height: 300px; /* Set width to 50% of the viewport width */
}

.services__content3{
    position: relative;
    background-image: linear-gradient(to bottom, #f7dae8, #f9d7e7, #fad4e6, #fcd0e5, #fdcde4, #fecae3, #fec6e1, #ffc3e0, #ffc0de, #ffbcdd, #ffb9db, #ffb5d9);    
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    transition: .3s;
    width: 330px;
    height: 300px; /* Set width to 50% of the viewport width */
}

.services__content4{
    position: relative;
    background-image: linear-gradient(to left bottom, #f7dae8, #f9d7e7, #fad4e6, #fcd0e5, #fdcde4, #fecae3, #fec6e1, #ffc3e0, #ffc0de, #ffbcdd, #ffb9db, #ffb5d9);    
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    transition: .3s;
    width: 330px;
    height: 300px; /* Set width to 50% of the viewport width */
}

.services__content5{
    position: relative;
    background-image: linear-gradient(to left, #f7dae8, #f9d7e7, #fad4e6, #fcd0e5, #fdcde4, #fecae3, #fec6e1, #ffc3e0, #ffc0de, #ffbcdd, #ffb9db, #ffb5d9);    
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    transition: .3s;
    width: 330px;
    height: 300px; /* Set width to 50% of the viewport width */
}

.services__content6{
    position: relative;
    background-image: linear-gradient(to left top, #f7dae8, #f9d7e7, #fad4e6, #fcd0e5, #fdcde4, #fecae3, #fec6e1, #ffc3e0, #ffc0de, #ffbcdd, #ffb9db, #ffb5d9);    
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    transition: .3s;
    width: 330px;
    height: 300px; /* Set width to 50% of the viewport width */
}

.services__content7{
    position: relative;
    background-image: linear-gradient(to right top, #f7dae8, #f9d7e7, #fad4e6, #fcd0e5, #fdcde4, #fecae3, #fec6e1, #ffc3e0, #ffc0de, #ffbcdd, #ffb9db, #ffb5d9);    
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    transition: .3s;
    width: 330px;
    height: 300px; /* Set width to 50% of the viewport width */
}

.services__content8{
    position: relative;
    background-image: linear-gradient(to right bottom, #f7dae8, #f9d7e7, #fad4e6, #fcd0e5, #fdcde4, #fecae3, #fec6e1, #ffc3e0, #ffc0de, #ffbcdd, #ffb9db, #ffb5d9);    
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    transition: .3s;
    width: 330px;
    height: 300px; /* Set width to 50% of the viewport width */
}

.services__content9{
    position: relative;
    background-image: linear-gradient(to bottom, #f7dae8, #f9d7e7, #fad4e6, #fcd0e5, #fdcde4, #fecae3, #fec6e1, #ffc3e0, #ffc0de, #ffbcdd, #ffb9db, #ffb5d9);    
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    transition: .3s;
    width: 330px;
    height: 300px; /* Set width to 50% of the viewport width */
}

.services__content10{
    position: relative;
    background-image: linear-gradient(to left bottom, #f7dae8, #f9d7e7, #fad4e6, #fcd0e5, #fdcde4, #fecae3, #fec6e1, #ffc3e0, #ffc0de, #ffbcdd, #ffb9db, #ffb5d9);    
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    transition: .3s;
    width: 330px;
    height: 300px; /* Set width to 50% of the viewport width */
}

.services__content11{
    position: relative;
    background-image: linear-gradient(to left top, #f7dae8, #f9d7e7, #fad4e6, #fcd0e5, #fdcde4, #fecae3, #fec6e1, #ffc3e0, #ffc0de, #ffbcdd, #ffb9db, #ffb5d9);    
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    transition: .3s;
    width: 330px;
    height: 300px; /* Set width to 50% of the viewport width */
}

.services__content12{
    position: relative;
    background-image: linear-gradient(to left, #f7dae8, #f9d7e7, #fad4e6, #fcd0e5, #fdcde4, #fecae3, #fec6e1, #ffc3e0, #ffc0de, #ffbcdd, #ffb9db, #ffb5d9);    
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    transition: .3s;
    width: 330px;
    height: 300px; /* Set width to 50% of the viewport width */
}

.services__content13{
    position: relative;
    background-image: linear-gradient(to top, #f7dae8, #f9d7e7, #fad4e6, #fcd0e5, #fdcde4, #fecae3, #fec6e1, #ffc3e0, #ffc0de, #ffbcdd, #ffb9db, #ffb5d9);    
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    transition: .3s;
    width: 330px;
    height: 300px; /* Set width to 50% of the viewport width */
}

.services__content14{
    position: relative;
    background-image: linear-gradient(to right top, #f7dae8, #f9d7e7, #fad4e6, #fcd0e5, #fdcde4, #fecae3, #fec6e1, #ffc3e0, #ffc0de, #ffbcdd, #ffb9db, #ffb5d9);    
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    transition: .3s;
    width: 330px;
    height: 300px; /* Set width to 50% of the viewport width */
}

.services__content15{
    position: relative;
    background-image: linear-gradient(to right, #f7dae8, #f9d7e7, #fad4e6, #fcd0e5, #fdcde4, #fecae3, #fec6e1, #ffc3e0, #ffc0de, #ffbcdd, #ffb9db, #ffb5d9);    
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    transition: .3s;
    width: 330px;
    height: 300px; /* Set width to 50% of the viewport width */
}

.services__content:hover{
    box-shadow: 0 4px 8px rgba(0,0,0,.15);
}

.services__icon{
    display: block;
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}

.services__title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
}

.services__button{
    cursor: pointer;
    font-size: var(--small-font-size);
}

.services__button:hover.button__icon{
     transform: translateX(.25rem);
}

.services__modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: var(--z-modal);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.services__modal-content{
    position: relative;
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: .5rem;
    width: 400px;
    height: 600px;
    background-image: radial-gradient(circle, #fb88df, #f5a3ee, #f0bbf8, #efd1fe, #f2e6ff, #f1e3ff, #efe1ff, #eedeff, #ebc2ff, #eea3fa, #f67eed, #ff4cda);    outline: 1.5px solid black;
    /* border: 2px solid #000; */
    /* padding: 200px; */
}

.services__modal-services{
    row-gap: 1rem;
}

.services__modal-service{
    display: flex;
    padding: -100px 0px 0px 0px;
    font-size: var(--small-font-size);
}

.services__modal-title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-5);
    text-decoration: underline solid black 1px;
}

.underline {
    border-bottom: 0px solid black; /* Thickness and color of the underline */
    display: inline-block; /* Ensure the underline spans the width of the paragraph */
    padding-bottom: 5px; /* Adjust the distance between the text and the underline */
}

.services__modal-close{
    position: absolute;
   
    font-size: 1.5rem;
    color: var(--first-color);
    cursor: pointer;
    width: 15px;
    top: 0; /* Align the image to the top */
    right: 0; /* Align the image to the right */
    transform: translate(-50%, 50%);
    /* height: 40px; */
}

.services__modal-close1{
    position: absolute;
   
    font-size: 1.5rem;
    color: var(--first-color);
    cursor: pointer;
    width: 15px;
    top: 0; /* Align the image to the top */
    right: 0; /* Align the image to the right */
    transform: translate(-150%, 50%);
    /* height: 40px; */
}

.services__modal-close2{
    position: absolute;
   
    font-size: 1.5rem;
    color: var(--first-color);
    cursor: pointer;
    width: 15px;
    top: 0; /* Align the image to the top */
    right: 0; /* Align the image to the right */
    transform: translate(-250%, 50%);
    /* height: 40px; */
}

.services__modal-icon{
    color: var(--first-color);
    margin-right: var(--mb-0-25);
}

.active-modal{
    opacity: 1;
    visibility: visible;
}

/*reusable css classes*/
.section{
    padding: 2rem 0 4rem;
}

.section__title{
    font-size: var(--h1-font-size);
}

.section__subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3); 
}

.section__subtitle, .section__title{
    text-align: center;
}

.right-arrow{
    width: 20px;
    position: absolute; 
    top: 0; 
    right: 0; 
    transform: translate(-50%, 2880%);
    /* height: 40px; */
}

.circle_img {
    position: absolute;
    bottom: 20px; /* Align the image to the top */
    right: 0;
    width: 9110px;
    border-radius: 0%; /* Makes the element circular */
}

.sun_img{
    padding-top: 40px;
    padding-bottom: 40px;
    width: 300px;
}

.inside_structure{
    /* padding-top: 50px; */
    position: relative;
    margin-bottom: 20px;
    text-decoration: underline;
}

.outside_structure{
    padding-top: 50px;
    position: relative;
    margin-bottom: 20px;
    /* text-decoration: underline; */
}



.mini_sun_img{
    /* padding-top: 40px;
    padding-bottom: 40px; */
    width: 120px;
}

.medium_coeli{
    /* padding: 0; */
    font-size: 125px;
    /* text-align: center; */
}

h3{
    text-decoration: underline solid black 1px;
}

/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the navigation bar */
nav {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000000;
    background-image: linear-gradient(to right top, #ff84ca, #f8a0e0, #f3b9f0, #f0d0fa, #f2e5ff, #f3e8ff, #f4eaff, #f5edff, #f3deff, #f4cefb, #f9bdf5, #ffaaea);    
}

/* Style the navigation links */
nav ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline; /* Display links horizontally */
}

nav ul li a {
    display: inline-block; /* Display links as blocks */
    padding: 10px 20px; /* Add padding */
    color: #000000; /* Text color */
    text-decoration: none; /* Remove underline */
}

nav ul li a:hover {
    background-image: linear-gradient(to bottom, #f7dae8, #f9d7e7, #fad4e6, #fcd0e5, #fdcde4, #fecae3, #fec6e1, #ffc3e0, #ffc0de, #ffbcdd, #ffb9db, #ffb5d9);    
}

.moon{
    background-image: radial-gradient(circle, #cf9af4, #d99ff6, #e2a4f8, #ebaafa, #f4affc, #f4b0fd, #f5b2fd, #f5b3fe, #eeb1fd, #e6affc, #dfadfa, #d7abf9);     
    color: #74007d;
}

.sun{
    background-image: radial-gradient(circle, #d0d0d0, #cfcfcf, #cdcece, #cccdcd, #cbcccb, #c4c5c5, #bebebe, #b7b7b7, #a9a9a9, #9b9b9b, #8d8d8d, #7f7f7f);    
    color: #303030;
}

.sign_icon{
    width: 280px;
}

.border1{
    background-image: radial-gradient(circle, #d0d0d0, #cfcfcf, #cdcece, #cccdcd, #cbcccb, #c4c5c5, #bebebe, #b7b7b7, #a9a9a9, #9b9b9b, #8d8d8d, #7f7f7f);    

    width: 200px; 
    height: 400px; 
    left: 400px;

    border: 2px solid #000; 
    transform: rotate(-20deg); 
    /* margin: 50px;  */
    position: relative; 
}

.border2{
    background-image: radial-gradient(circle, #d0d0d0, #cfcfcf, #cdcece, #cccdcd, #cbcccb, #c4c5c5, #bebebe, #b7b7b7, #a9a9a9, #9b9b9b, #8d8d8d, #7f7f7f);    
    left: 200px;

    width: 200px; 
    height: 400px; 
    border: 2px solid #000; 
    transform: rotate(-10deg); 
    /* margin: 50px;  */
    position: relative; 
}

.border3{
    background-image: radial-gradient(circle, #d0d0d0, #cfcfcf, #cdcece, #cccdcd, #cbcccb, #c4c5c5, #bebebe, #b7b7b7, #a9a9a9, #9b9b9b, #8d8d8d, #7f7f7f);    

    top: 0%; 
    width: 200px; 
    height: 400px; 
    border: 2px solid #000; 
    transform: rotate(0deg); 
    /* margin: 50px;  */
    position: static; 
}

.border4{
    background-image: radial-gradient(circle, #d0d0d0, #cfcfcf, #cdcece, #cccdcd, #cbcccb, #c4c5c5, #bebebe, #b7b7b7, #a9a9a9, #9b9b9b, #8d8d8d, #7f7f7f);    
    left: -200px;

    top: 0%; 
    width: 200px; 
    height: 400px; 
    border: 2px solid #000; 
    transform: rotate(10deg); 
    /* margin: 50px;  */
    position: relative; 
}

.border5{
    background-image: radial-gradient(circle, #d0d0d0, #cfcfcf, #cdcece, #cccdcd, #cbcccb, #c4c5c5, #bebebe, #b7b7b7, #a9a9a9, #9b9b9b, #8d8d8d, #7f7f7f);    
    /* margin-top: 50px; */
    top: 0%; 
    width: 200px; 
    height: 400px; 
    border: 2px solid #000; 
    left: -300px;

    transform: rotate(20deg); 
    /* margin: 50px;  */
    position: relative; 
}

.content {
    position: absolute; /* Position content absolutely inside the container */
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); /* Counter-rotate content to make it upright */
  }

 